/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

/* Reset default list styles */
nav ul {
  list-style-type: none;
  padding: 0;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* Display list items inline */
nav ul li {
  display: inline;
  margin-right: 40px; /* Adjust spacing between menu items */
}

/* Remove margin from the last list item */
nav ul li:last-child {
  margin-right: 0;
}

/* Style anchor links */
nav ul li a {
  text-decoration: none;
  color: #000; /* Change the color as needed */
  font-family: "Arial", monospace; /* Change the font family as needed */
  font-size: 16px; /* Change the font size as needed */
  transition: font-size 0.5s ease; /* Add smooth transition for font size */
}

/* Apply hover effect to increase font size */
nav ul li a:hover {
  font-size: 20px; /* Increase font size on hover */
  color: #000;
}

/* Center the 'about' section horizontally */
#about {
  width: 60%; /* Adjust the width as needed */
  margin: 0 auto; /* Set left and right margins to 'auto' */
}

header {
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
}

body{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Change font style for headings and paragraphs */
h2,
h3,
p {
  font-family: "Times New Roman", monospace; /* Change the font family as needed */
  font-size: 18px; /* Change the font size as needed */
  line-height: 1.5; /* Adjust line height as needed */
}

#Intro {
  line-height: 0.5;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 80px;
}

#Detail-Intro {
  text-indent: 60px;
}
#Name {
  line-height: 0.5;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Kode Mono font styling */
.kode-mono-regular {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

.kode-mono-medium {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

.kode-mono-semibold {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 600; /* Semibold weight */
  font-style: normal;
}

.kode-mono-bold {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold weight */
  font-style: normal;
}


.typing-animation::after {
    content: ""; /* Cursor placeholder */
    animation: typing 1s steps(10, end), blink-caret 0.50s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    display: inline-block;
    vertical-align: bottom;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: auto; }
  }
  
  
 
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  